* {
  margin: 0px;
}

body {
  margin: 0px;
  background-color: aqua;
}

#container {
  display: grid;
  grid-template-areas:
      "header header header"
      "article nav aside"
      "footer footer footer"
  ;
  grid-template-rows: 1fr 5fr 1fr;
  grid-template-columns: 1fr 7fr 1fr;
  height: 100vh;
}

#container header {
  background-color: aqua;
  grid-area: header;
}

#container article {
  background-color: blue;
  grid-area: article;
}

#container nav {
  background-color: aqua;
  grid-area: nav;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  background-color: #2196F3;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  text-align: center;
}

#form {
  white-space: pre;
  width: 40%;
  display: inline-block;
  text-align: left;
  padding: 0% 50% 0% 0%;
  margin-top: 15%;
}

input {
  border-radius: 4px;
  margin-top: 5px;
  margin-bottom: 5px;
}

label {
  width: 100px;
  margin-right: 20px;
  display: inline-block;
}

#colorEyeText {
  margin-right: 80%;
}

#colorEyes {
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: gainsboro;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: gainsboro;
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: gainsboro;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: gainsboro;
}

.imagesPhotoPerson {
  width: 300px;
  height: 300px;
  padding: 4%;
}

#submit {
  width: 90%;
  height: 90%;
  margin-top: 2%;
  padding: 3%;
}

#container aside {
  background-color: blue;
  grid-area: aside;
}

#container footer {
  background-color: aqua;
  grid-area: footer;
}